{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ produccion_en_curso.get_tipo_display }}</title>
</head>
<body>
    <div class="alert alert-warning" role="alert">
        El tipo de produccion activa actualmente es:  <strong>{{ produccion_en_curso.get_tipo_display }}</strong>. Iniciada el <strong>{{ produccion_en_curso.fecha_pedido }}</strong> a las <strong>{{ produccion_en_curso.hora_inicio|time:"H:i" }}</strong>.
    </div>
    <!-- CAMBIO DE ROLLO -->
    {% if produccion_en_curso.tipo == 'cambio_rollo' %}
        <form method="post" class="form">
            {% csrf_token %}
            <label for="producto_rollo">Selecciona un rollo:</label>
            <select id="producto_rollo" name="producto_rollo">
                {% for producto in productos_rollo %}
                    <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                {% endfor %}
            </select>
            <button class="button" type="submit">Finalizar Cambio de Rollo</button>
        </form>
    <!-- DESPACHO -->
    {% elif produccion_en_curso.tipo == 'despacho' %}
        <form method="post" class="form">
            {% csrf_token %}
            <label for="opcion_despacho">Seleccione una opción de despacho:</label>
            <select id="opcion_despacho" name="opcion_despacho">
                <option value="camion">Camión</option>
                <option value="rampla">Rampla</option>
            </select>
            <fieldset>
                {{ item_formset.management_form }}
                <div id="formset-container">
                    <!-- Renderizar los formularios iniciales -->
                    {% for form in item_formset %}
                        <div class="item-form">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="button-container">
                    <button type="button" id="button2" class="fused-button">Agregar Producto</button>
                    <button type="button" id="button3" class="fused-button">Eliminar Producto</button>
                </div>
                </fieldset>
                
                <button type="submit" class="button">Terminar y actualizar stock</button>
                </form>
                
                <!-- Plantilla para el nuevo formulario de ítem -->
                <div id="empty_form" style="display: none;">
                    <div class="item-form">
                        {{ item_formset.empty_form.as_p }}
                    </div>
                </div>
                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var agregarProductoBtn = document.getElementById('button2');
                        var eliminarProductoBtn = document.getElementById('button3');
                        var formsetContainer = document.getElementById('formset-container');
                        var emptyFormTemplate = document.getElementById('empty_form').innerHTML;
                        var formCount = {{ item_formset.total_form_count }};
                
                        agregarProductoBtn.addEventListener('click', function() {
                            var newForm = document.createElement('div');
                            newForm.classList.add('item-form');
                            newForm.innerHTML = emptyFormTemplate.replace(/__prefix__/g, formCount);
                            formsetContainer.appendChild(newForm);
                            formCount++;
                
                            // Actualizar el atributo 'total_form' del formset
                            document.getElementById('id_form-TOTAL_FORMS').value = formCount;
                        });
                
                        eliminarProductoBtn.addEventListener('click', function() {
                            if (formCount > 0) {
                                var lastForm = formsetContainer.querySelector('.item-form:last-child');
                                if (lastForm) {
                                    lastForm.remove();
                                    formCount--;
                
                                    // Actualizar el atributo 'total_form' del formset
                                    document.getElementById('id_form-TOTAL_FORMS').value = formCount;
                                }
                            }
                        });
                
                        // Event listener para eliminar un formulario de ítem
                        formsetContainer.addEventListener('click', function(event) {
                            if (event.target && event.target.classList.contains('eliminar-producto')) {
                                event.target.parentElement.remove();
                                formCount--;
                
                                // Actualizar el atributo 'total_form' del formset
                                document.getElementById('id_form-TOTAL_FORMS').value = formCount;
                            }
                        });
                    });
                </script>

    <!-- INGRESO DE MATERIAL -->
    {% elif produccion_en_curso.tipo == 'ingreso_material' %}
    <form method="post" class="form">
        {% csrf_token %}
        <fieldset>
            <legend>Material de ingreso:</legend>
            <ul>
                {% for material in material_ingreso %}
                    <li>{{ material.nombre }}: <input type="number" name="cantidad_{{ material.id }}" value="0" min="0"></li>
                {% endfor %}
            </ul>
        </fieldset>
        <button type="submit">Terminar ingreso de material y actualizar stock</button>
    </form>
    <!-- SETUP O AJUSTES-->
    {% elif produccion_en_curso.tipo == 'setup_ajustes' %}
        <form method="post">
            {% csrf_token %}
            <label for="material_ajuste">Selecciona:</label>
            <select id="material_ajuste" name="material_ajuste">
                {% for producto in ajustes %}
                    <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit">Finalizar Setup o Ajuste</button>
        </form>
    <!-- PANA O MANTENCION-->
    {% elif produccion_en_curso.tipo == 'pana_mantencion' %}
        <form method="post">
            {% csrf_token %}
            <label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones" rows="4" cols="50"></textarea>
            <br>
            <button type="submit">Finalizar Setup o Ajuste</button>
        </form>
    <!-- PRODUCCION -->
    {% elif produccion_en_curso.tipo == 'produccion' %}
    <form method="post">
        {% csrf_token %}
        <label for="produccion_actual">Selecciona:</label>
            <select id="produccion_actual" name="produccion_actual">
                {% for producto in productos %}
                    <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                {% endfor %}
            </select>
            <ul>
                <li>Cantidad Producida: <input type="number" name="cantidad" value="0" min="0"></li>
            </ul>
            <button type="submit">Finalizar Producción</button>
    </form>
    {% endif %}
</body>
{% endblock %}
