{% extends 'base.html' %}
{% block content %}
  <h1>Producción</h1>
  <div class="tipos-produccion">
    <a href="{% url 'cambio_rollo' %}" class="button button-container">Cambio de Rollo</a>
    <a href="{% url 'despacho' %}" class="button button-container">Despacho</a>
    <a href="{% url 'ingreso_material' %}" class="button button-container">Ingreso de Material</a>
    <a href="{% url 'setup_ajustes' %}" class="button button-container">Setup o Ajustes</a>
    <a href="{% url 'pana_mantencion' %}" class="button button-container">Pana o Mantención</a>
    <a href="{% url 'produccion_iniciar' %}" class="button button-container">Producción</a>
  </div>
{% endblock %}
